.banner-container {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}

@font-face {
  font-family: "Digital-7";
  src: local("Digital-7"), url(./fonts/digital-7.ttf) format("truetype");
}

.time-container {
  display: flex;
  justify-content: center;
}

.time {
  width: 3em;
  font-family: "Digital-7", Times, serif;
  font-size: 50pt;
  padding: 1em;
  color: lightgray;
  text-align: left;
}
