@euglena:registry=http://codeloves.me:2800/api/v4/projects/3/packages/npm/
//codeloves.me:2800/api/v4/packages/npm/:_authToken=Xe_y4HT-wJToZtsQ3GiB
//codeloves.me:2800/api/v4/projects/3/packages/npm/:_authToken=Xe_y4HT-wJToZtsQ3GiB